/* <Heading> */
.heading {
  font-size: 32px;
  font-weight: bold;
}

/* <Cart> */
.cartTitleIcon {
  display: inline-block;
  position: relative;
  top: 1px;
  width: 26px;
  height: 26px;
  margin-right: 8px;
  fill: currentColor;
}

.cartTable {
  width: 100%;
  text-align: left;
  table-layout: fixed;
}

.cartTable thead {
  border-bottom: 1px solid #c0c0c0;
}

.cartTable td,
.cartTable th {
  padding: 4px 5px;
}

.cartTable th {
  font-weight: 600;
}

.cartTrashIcon {
  display: inline-block;
  position: relative;
  top: 1px;
  width: 14px;
  height: 15px;
  margin-left: 7px;
  fill: currentColor;
}

.cartQuantityLabel {
  margin-right: 10px;
}

.cartPlusIcon,
.cartMinusIcon {
  position: relative;
  top: -2px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer;
  vertical-align: middle;
}

.cartPlusIcon {
  margin-right: 5px;
}

.cartMinusIcon svg {
  margin-top: 5px;
}

.cartTotalLabel {
  font-size: 20px;
  font-weight: 600;
}

/* <Products> */
.productsTitleIcon {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 32px;
  height: 26px;
  margin-right: 8px;
  fill: currentColor;
}


/* <Product> */
.product {
  display: inline-block;
  text-align: center;
  border: 1px solid #c0c0c0;
  padding: 8px;
  margin-right: 25px;
  cursor: pointer;
}

.productImage {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-size: 100% auto;
  background-size: cover;
  display: block;
  margin-bottom: 7px;
}
