/* <App> */
.appInner { }

@media (max-width: 767px) {
  .appInner {
    display: table;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .appInner {
    display: table;
    width: 100%;
    min-height: 100vh;
  }
}

/* <Heading> */
.headingOuter {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #F1F1F1;
}

.headingText {
  font-size: 23px;
  font-weight: 700;
}

/* <Cart> */
.cartContainer {
  background-color: #F7F8FA;
  padding: 20px;
}

@media (min-width: 768px) {
  .cartContainer {
    display: table-cell;
    width: 42%;
    padding: 50px 30px;
    vertical-align: top;
    box-sizing: border-box;
  }
}

.cartContainer .headingText {
  color: #717C91;
}

.cartTitleIcon {
  display: inline-block;
  width: 21px;
  height: 19px;
  margin-right: 8px;
  fill: currentColor;
}

.clearCartButton {
  position: absolute;
  top: 11px;
  right: 0;
}

.emptyCart {
  display: block;
  padding: 9px 10px;
  background-color: #fdfdfd;
  text-align: center;
  font-size: 14px;
  border: 1px dashed #e5e8ec;
  color: #a0a0a0;
  border-radius: 5px;
}

.cartTable {
  width: 100%;
  text-align: left;
}

.cartTable td {
  vertical-align: middle;
  padding-bottom: 20px;
}

.cartItemImageContainer {
  position: relative;
  width: 70px;
}

.cartItemImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center center;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
}

.cartItemTrashIcon {
  display: inline-block;
  position: absolute;
  top: -8px;
  left: -9px;
  padding: 5px 6px;
  width: 11px;
  height: 12px;
  fill: #e07575;
  background: #ffffff;
  box-sizing: content-box;
  border-radius: 50%;
  box-shadow: 0 0 2px #949494;
}

.cartItemTitle {
  font-weight: 600;
}

.cartItemMeta {
  font-size: 14px;
  opacity: 0.8;
}

.cartItemPlusIcon,
.cartItemMinusIcon {
  position: relative;
  top: -2px;
  display: inline-block;
  width: 12px;
  height: 12px;
  cursor: pointer;
  vertical-align: middle;
  opacity: 0.8;
}

.cartItemPlusIcon:hover,
.cartItemMinusIcon:hover {
  opacity: 1;
}

.cartItemPlusIcon {
  margin-left: 10px;
}

.cartItemMinusIcon {
  margin-left: 5px;
  margin-top: 7px;
}

.cartItemTotal {
  width: 70px;
  text-align: right;
  font-size: 18px;
  font-weight: 600;
}

.totalContainer {
  padding-top: 15px;
  border-top: 1px solid #F1F1F1;
}

.totalContainer:before,
.totalContainer:after {
  display: table;
  content: "";
}

.totalContainer:after {
  clear: both;
}

.totalLabel {
  opacity: 0.5;
  float: left;
  position: relative;
  top: 2px;
}

.totalAmount {
  float: right;
  font-size: 18px;
  font-weight: 700;
}

/* <Products> */
.productsContainer {
  padding: 30px 20px;
  border-bottom: 1px solid #eee;
}

@media (min-width: 768px) {
  .productsContainer {
    display: table-cell;
    vertical-align: top;
    padding: 50px 0;
    padding-right: 30px;
    border-bottom: none;
  }
}

.productsTitleIcon {
  display: inline-block;
  position: relative;
  top: 1px;
  width: 21px;
  height: 19px;
  margin-right: 8px;
  fill: #B58553;
}


/* <Product> */
.productListings { }

@media (max-width: 767px) {
  .productListings {
    text-align: center;
  }
}

.product {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 25px;
  cursor: pointer;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.productImage {
  width: 120px;
  height: 150px;
  display: block;
  vertical-align: bottom;
  object-fit: cover;
  object-position: center center;
}

.productTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px 0;
}
